#Libraries used are:-
gunicorn #for flask web deployment,you can skip this
en_core_web_sm @https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz 
chatterbot
chatterbot-corpus
pyyaml==3.13
spacy==2.3.5
numpy
flask
wikipedia
#run followig command in andministration mode
# python -m spacy link en_core_web_sm en
